@import "tailwindcss";

.highlight-appointment-date {
  background-color: #2563eb !important; /* Blue highlight */
  color: white !important;
  border-radius: 50% !important;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.6);
}
